/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #0d1a2d;
    
    
}
#container{
    height: 450px;
    width: 260px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-image: linear-gradient(#1a293e,#102139);
    /* box-shadow: 0px 0px 4px 4px #1a293eeb; */
    

}

#image-part{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-part img{
    height: 87%;
    width: 87%;
    padding: 0px;
    border-radius: 17px;
}

.overlay{
    height: 235px;
    width: 220px;
    /* border: 2px solid black; */
    position: absolute;
    top: 168px;
    left: 658px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 16px;
    color: cyan;
    opacity: 0;
    transition: 0.2s;

}

.overlay:hover{
    background-color: hsla(178, 100%, 50%, 0.5);
    opacity: 4;
    cursor: pointer;

}


#heading{
    height: 10%;
    color: white;
    font-family: 'Outfit', sans-serif;
    padding-left: 17px;
    margin-top: -20px;
    
}

#heading h4 a{
    color: white;
}

#heading h4 a:hover{

    cursor: pointer;
    color: rgba(0, 255, 255, 0.685);
    
    transition: 0.2s;
}

#para{
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
}

#ethicon{
    height: 18px;
    width: 10px;
    /* display: inline-block; */
    display: flex;

}

#ethicontext{
    color: #18fef1;
    font-family: 'Outfit', sans-serif;
    /* display: inline-block; */
    display: flex;
    font-size: 12px;
    margin-left: 16px;
    margin-top: -17px; 
    
}

#ethicontext h4{
    margin: 0px 0px 0px 0px;
}

#clockimg{
    height: 17px;
    width: 17px;
    display: flex;
    margin-left: 150px;
    margin-top: -31px;   
}

#line{
    height: 0px;
    width: 220px;
    color: #14263e;
    border: 0.2px solid white;
    opacity: 0.1;
    margin-top: 16px;

}

#byimg{
    height: 28px;
    width: 28px;
    margin-top: 10px;
}

#byimg img{
    height: 87%;
    width: 87%;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}



#clocktext{
    color: #87acd9;
    display: flex;
    margin-left: 170px;
    margin-top: -17px;
    font-size: 12px;

}

#creation{
    color: #88abd5;
    margin-left: 36px;
    font-size: 12px;
    display: flex;
    margin-top: -24px;
}

#name{

    color:white;
    margin-left: 100px;
    font-size: 12px;
    display: flex;
    margin-top: -15px;
}

#name:hover{
    cursor: pointer;
    color:#18fef2a9;
}
